<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The SPEAKEASY</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


    <script src="https://code.jquery.com/jquery.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <div class="navbar-fixed active">
        <nav class="brown accent-4" style="border-style: solid; border-color: burlywood;">
            <a href="#!" class="brand-logo center" style="font-family: cursive;">The SPEAKEASY</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/" style="font-family: cursive">Home</a></li>
                <li><a href="/index" style="font-family: cursive">Cocktail Menu!</a></li>
                <li><a href="/add" style="font-family: cursive">Add One to the List!</a></li>
            </ul>
        </nav>
    </div>




    {{{body}}}


    <div class="footer">
        <p>&copy;#Aimee, Patrick, Miguel, and Miguel 2020 </p>
    </div>

</body>


</html>