</br>
<div class="container">
    <div style="text-align: center">
        <img src="https://images.squarespace-cdn.com/content/v1/5c9b9981af468385e47c0853/1555704821019-POZMD5XYRZ2NBADLFKG5/ke17ZwdGBToddI8pDm48kLmUbQbtDGsZ8YTTasGILul7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0lqfkVpRp1g_2L-WsTQRP4LE6B0BTbA_B4hx17Wb5wfjT9mR3gzq1SMR4UIbU98M4g/SpeakeasyBar.jpg"
            alt="" class="responsive-img" alt="" width="700" height="700"
            style="border-style: solid; border-color: burlywood; border-width: thick;">
    </div>
</div>
<br>




<div class="container" style="border-style: solid; border-color: burlywood; background-color:antiquewhite;">

    <div class="row">
        <h2 style="font-family: cursive; text-align: center;">Add a drink</h2>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="cat_name1" type="text" placeholder="only this categories: whiskey, tequila, vodka or rum">
                    <label class="active" for="cat_name"><span style="font-weight: bold;color:black;">Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="drink_name" type="text">
                    <label class="active" for="drink_name"><span
                            style="font-weight: bold;color:black;">Cocktail</span></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="drinkimage_name" class="materialize-textarea"></textarea>
                    <label class="active" for="drinkimage_name"><span style="font-weight: bold;color:black;">Cocktail's
                            Image</span></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1"><span style="font-weight: bold;color:black;">Ingredients</span></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea2" class="materialize-textarea"></textarea>
                    <label for="textarea2"><span style="font-weight: bold;color:black;">Method</span></label>
                </div>
            </div>
            <button class="waves-effect waves-light btn-blue-grey lighten-4" type="submit" name="submit" id="fm1">Submit
                <i class="mdi-content-send right"></i>
            </button>
        </form>
    </div>
    <div class="row">
        <p id="um1"></p>
    </div>
</div>

<script src="/js/add.js" type="text/javascript"></script>