<br>
<br>
<div class="container">
    <div style="text-align: center">
        <img src="https://img.sharetv.com/shows/episodes/standard/1003783.jpg" alt=""
            class="responsive-img" alt="" width="700" height="700" style="border-style: solid; border-color: burlywood; border-width: thick;">
    </div>
    <br>

    <div>
        <div class="row">
            <div class="col s3">
                <div class="card" style="border-style: solid; border-color: burlywood; background-color:antiquewhite">
                    <p style="font-weight: bolder; text-align: center">Miguel "Miguel-One" Galarraga</p>
                    <p style="text-align: center">"Coal under pressure, what that make? Diamonds."</p>
                </div>
            </div>
            <div class="col s3">
                <div class="card" style="border-style: solid; border-color: burlywood; background-color:antiquewhite">
                    <p style="font-weight: bolder; text-align: center">Aimee "Fire Chief" Bojorquez</p>
                    <p style="text-align: center">"You can spark it up and I'm a put you out."</p>
                </div>
            </div>
            <div class="col s3">
                <div class="card" style="border-style: solid; border-color: burlywood; background-color:antiquewhite">
                    <p style="font-weight: bolder; text-align: center">Patrick "Mind-Games" Heron</p>
                    <p style="text-align: center">"Now I am become Death, the destroyer of worlds."</p>
                </div>
            </div>
            <div class="col s3">
                <div class="card" style="border-style: solid; border-color: burlywood; background-color:antiquewhite">
                    <p style="font-weight: bolder; text-align: center">Miguel "Notorious MIG" Fernandez</p>
                    <p style="text-align: center">"Armed and dangerous, ain't too many can bang with us"</p>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../../public/js/index.js"></script>