<div class="row">
    <div class="grid-example col  s5"></div>
    <div class="grid-example col  s4">
        <p id="ageCheck" style="font-family: cursive; color:white;font-size:x-large">Are you 21 or over?</p>
        <a href="/" class="waves-effect waves-light btn">Yes</a>
        <a href="https://www.bbcgoodfood.com/recipes/collection/non-alcoholic-cocktail"
            class="waves-effect waves-light btn" id="yesBtn">No</a>
    </div>
    <div class="grid-example col  s3"></div>
</div>


<div class="container">
    <br>
    <div style="text-align: center;" id="indexImage">
        <img src="http://thelasocialites.com/wp-content/uploads/2015/06/IMG_1920_1_2.jpg" alt="" class="responsive-img"
            alt="" width="700" height="700" style="border-style: solid; border-color: burlywood; border-width: thick;">
    </div>

    <div style="text-align: center;" id="liqourText">
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card" style="border-style: solid; border-color: burlywood; background-color:antiquewhite">
                    <h5 style="font-weight: bolder; font-family: cursive;">Pick Your Poison!</h5>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: center;">
        <button class="btn-flat transparent" id="vodkaBtn"><a href="/index/vodka"><span style="border-style: solid; border-color: black;">Vodka</span></br>
            <img class="circle responsive-img" src="/images/vodka.jpeg" width="100" height="100"></a>
        </button>

        <button class="btn-flat transparent" id="tequilaBtn"><a href="/index/tequila"><span style="border-style: solid; border-color: black;">Tequila</span></br>
            <img  class="circle responsive-img" src="/images/tequila.jpeg" width="100" height="100"></a>
        </button>

        <button class="btn-flat transparent" id="whiskeyBtn"><a href="/index/whiskey"><span style="border-style: solid; border-color: black;">Whiskey</span></br>
            <img class="circle responsive-img" src="/images/whiskey.jpeg" width="100" height="100"></a>
        </button>

        <button class="btn-flat transparent" id="rumBtn"><a href="/index/rum"><span style="border-style: solid; border-color: black;">Rum</span></br>
            <img class="circle responsive-img" src="/images/rum.jpeg" width="100" height="100"></a>
        </button>
    </div>
    <br>
</div>

<script type="text/javascript">



</script>