<div class="row">
    <div class="col s12">
        <div class="card transparent"
            style="background-image: url('https://as1.ftcdn.net/jpg/02/29/35/48/500_F_229354874_JGNkLO3K9ElnPfEgij3OhXz7mz4093UJ.jpg');">
            <div class="card-content white-text">
                <span class="card-title">
                    <h1 style="text-align: center;color:black">VIRTUAL EASYSPEAK BAR</h1>
                </span>
                <p>
                    <h5 style="text-align: center;color:black">Please select a drink from the menu<br>Or you can add
                        your own custom
                        drink to the menu</h5>
                </p>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="grid-example col  s4"></div>
        <div class="grid-example col  s4">
            <form action="#">
                <p>
                    <label>
                        <input type="checkbox" />
                        <span style="font-weight: bold;font-size: 20px;color:black">You're 18 or older</span>
                    </label>
                </p>
            </form>
        </div>
        <div class="grid-example col  s4"></div>
    </div>
    <div class="row">
        <div class="grid-example col  s5">
            <h2>Cocktail List</h2>
            <ul>
                {{#each Cocktail}}
                    <li>
                        <button class="btn-flat transparent">
                            <div class="chip">
                                <img src="{{}}"
                alt="Contact Person">
                {{this.drink}}
        </div>
        </button>
        </li>
        {{/each}}
        </ul>
    </div>
    <div class="grid-example col  s2"></div>
    <div class="grid-example col  s5">
        <h2>Add a drink</h2>
        <form class="col s12" action="/" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input value="" id="cat_name" type="text">
                    <label class="active" for="cat_name"><span
                            style="font-weight: bold;color:dark-grey;">Category</span></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input value="" id="drink_name" type="text">
                    <label class="active" for="drink_name"><span
                            style="font-weight: bold;color:dark-grey;">Cocktail</span></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input value="" id="drinkimage_name" type="text">
                    <label class="active" for="drinkimage_name">Cocktail's Image</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1"><span style="font-weight: bold;color:dark-grey;">Ingredients</span></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea2" class="materialize-textarea"></textarea>
                    <label for="textarea2"><span style="font-weight: bold;color:dark-grey;">Method</span></label>
                </div>
            </div>
            <button class="waves-effect waves-light btn-blue-grey lighten-4" type="submit" name="submit">Submit
                <i class="mdi-content-send right"></i>
            </button>
        </form>
    </div>
</div>
</div>