
<div class="container">
    <br>
    <div style="text-align: center;" id="indexImage">
        <img src="https://images.squarespace-cdn.com/content/v1/5546e0cde4b099a7d92c263b/1518226240007-I9YX1CHVM932QT95BUXB/ke17ZwdGBToddI8pDm48kGPVK--wGoWXJsqwlxbZlQN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0mwONMR1ELp49Lyc52iWr5enfxu_O4VeONvneR-F6W8oeFhFqSrYyNrfPB9Y70_gvQ/Blues+Central+-+Williwaw+-+2015+DSC_0470.jpg?format=1500w"
            class="responsive-img" alt="" width="700" height="700"
            style="border-style: solid; border-color: burlywood; border-width: thick;">
    </div>
    <br>
</div>



<div class="container" style="border-style: solid; border-color: burlywood; background-color:antiquewhite;">
    <div class="row">
        <div class="grid-example col  s4"></div>
        <div class="grid-example col  s4">
        </div>
        <div class="grid-example col  s4"></div>
    </div>
    <div class="row">
        <div class="grid-example col  s1"></div>
        <div class="grid-example col  s10">
            <h2 style="font-family: cursive; text-align: center;">Cocktail List</h2>
            <ul>
                {{#each bar}}
                <li>
                    <button class="btn-flat transparent btn1"><a href="/results/{{this.dataValues.id}}">
                            <div class="chip">
                                <img class="circle responsive-img" src="{{this.dataValues.image}}">
                                {{this.dataValues.drink}}
                            </div>
                        </a></button>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="grid-example col  s1"></div>

    </div>

</div>



<script type="text/javascript"></script>