<div class="navbar-fixed active">
    <nav class="brown accent-4">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center" style="font-family: cursive;">The SPEAKEASY</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html" style="font-family: cursive">The Hooch</a></li>
                <li><a href="badges.html" style="font-family: cursive">The Bootleggers</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
<br>
    <div style="text-align: center;" id="indexImage">
        <img src="http://thelasocialites.com/wp-content/uploads/2015/06/IMG_1920_1_2.jpg" alt=""
            class="responsive-img" alt="" width="600" height="600" style="border-style: solid; border-color: burlywood; border-width: thick;">
    </div>

    <div style="text-align: center;">
        <div style="color: black; font-size: 28px; font-family: cursive;">Pick Your Poison!</div>
        <button class="button" id="vodkaBtn" style="border-style: solid; background-color: burlywood; border-color: black; color: black; font-size: 25px;">
            <img src="https://p7.hiclipart.com/preview/146/365/173/cocktail-garnish-vodka-martini-cocktail-thumbnail.jpg"
                width="100" height="100" style="border-style: solid; border-color: black;"><br>Vodka
        </button>

        <button class="button" id="tequilaBtn" style="border-style: solid; background-color: burlywood; border-color: black; color: black; font-size: 25px;">
            <img src="https://i7.pngguru.com/preview/256/741/256/cocktail-garnish-margarita-daiquiri-martini-cocktail-thumbnail.jpg"
                width="100" height="100" style="border-style: solid; border-color: black"><br>Tequila
        </button>

        <button class="button" id="whiskeyBtn" style="border-style: solid; background-color: burlywood; border-color: black; color: black; font-size: 25px;">
            <img src="https://i7.pngguru.com/preview/194/66/425/whiskey-sour-cocktail-harvey-wallbanger-juice-cocktail-thumbnail.jpg"
                width="100" height="100" style="border-style: solid; border-color: black"><br>Whiskey
        </button>

        <button class="button" id="rumBtn" style="border-style: solid; background-color: burlywood; border-color: black; color: black; font-size: 25px;">
            <img src="https://p7.hiclipart.com/preview/377/748/837/cocktail-gin-tequila-sunrise-sour-sea-breeze-cocktails-thumbnail.jpg"
                width="100" height="100" style="border-style: solid; border-color: black;"><br>Rum
        </button>
    </div>
    <br>
</div>