<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Speakeasy Bar</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="public/styles/styles.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>
    <div class="navbar-fixed active">
        <nav class="brown accent-4">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo center" style="font-family: cursive;">The SPEAKEASY</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html" style="font-family: cursive">The Hooch</a></li>
                    <li><a href="badges.html" style="font-family: cursive">The Bootleggers</a></li>
                </ul>
            </div>
        </nav>
    </div>
    
    <br>

    <div class="container">
        <div class="col lg 12 center" id="indexImage">
            <img src="https://images.squarespace-cdn.com/content/v1/5c9b9981af468385e47c0853/1555704821019-POZMD5XYRZ2NBADLFKG5/ke17ZwdGBToddI8pDm48kLmUbQbtDGsZ8YTTasGILul7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0lqfkVpRp1g_2L-WsTQRP4LE6B0BTbA_B4hx17Wb5wfjT9mR3gzq1SMR4UIbU98M4g/SpeakeasyBar.jpg" alt=""
                class="responsive-img" alt="" width="600" height="600" style="border-style: solid; border-color: burlywood; border-width: thick;">
        </div>

        <div class="container" style="border-style: solid; background-color: burlywood; border-color: black;">
            <div class="row center" style="color: black; font-size: 28px; font-family: cursive;"> R U M <br>
                    DAILY SPECIALS
            </div>
        </div>
        
        <div class="row">
            <div class="col s6">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h4>Drink Image here</h4>
                        <h4>Drink Name here</h4>
                    </li>
                    <li class="collection-item">
                        <div> <i class="tiny material-icons">fiber_manual_record</i> Ingredients listed here </div>
                    </li>
                </ul>
            </div>

            <div class="col s6">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h4>Instructions here</h4>
                    </li>
                </ul>
            </div>

        </div>


    </div>
</body>

<script src="../public/js/.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
