<div class="row">
    <div class="col s12">
        <div class="card transparent"
            style="background-image: url('https://as1.ftcdn.net/jpg/02/29/35/48/500_F_229354874_JGNkLO3K9ElnPfEgij3OhXz7mz4093UJ.jpg');">
            <div class="card-content white-text">
                <span class="card-title">
                    <h1 style="text-align: center;color:black">VIRTUAL EASYSPEAK BAR</h1>
                </span>
            </div>
        </div>
    </div>
</div>


{{!-- <div class="container">
    <div class="row">
        <div class="grid-example col  s5">
            <h2>{{}}</h2>
            <img src="{{}}">
        </div>
        <div class="grid-example col  s2"></div>
        <div class="grid-example col  s5">
            <h5>Ingredients:</h5>
            <p>{{}}</p>
            </br>
            <h5>Method:</h5>
            <p>{{}}</p>
        </div>
    </div>
</div> --}}