
body {
    background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX2441107.jpg");
    background-repeat: repeat;
    height: 100vh;
    background-size: cover;
    opacity: 0.85;
  };
  