.list-group-item {
  line-height: 2.5;
}

body {
  background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX2441107.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
};

#indexImage {
  border-color: burlywood;
  border-style: solid;
  margin: auto;
  padding: 15px;
  outline-color: burlywood;
};

#liqourTitle {
  background-color: black;
  color: tomato;
<<<<<<< HEAD
}
=======
}
>>>>>>> 229e7590d9c0d503920bc0776d0cda84fb545c81
